body,
button {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #333;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #555;
  max-width: 120px;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #777;
}

main {
  display: flex;
  justify-content: center;
}

#character-card {
  text-align: center;
  width: 300px;
  border: 1px solid #666;
  padding: 20px;
  border-radius: 10px;
  background-color: #222;
}

#character-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

#fetch-character {
  background-color: green;
}

#add-favourite {
  background-color: red;
}
